[program:%(program)s]
command=nice -n 10 ionice -c 3 %(command_pre_args)s %(user_home)s/.virtualenvs/%(virtualenv)s/bin/python %(root)s/manage.py celery flower %(command_post_args)s
directory=%(root)s
user=%(user)s
autostart=true
autorestart=true
redirect_stderr=true
priority=991
stopsignal=KILL
%(environment)s
