[program:%(program)s]
command=%(user_home)s/.virtualenvs/%(virtualenv)s/bin/python %(root)s/manage.py run_gunicorn -c %(root)s/config/gunicorn/%(program)s.conf
directory=%(root)s
user=%(user)s
autostart=true
autorestart=true
redirect_stderr=true
priority=991
stopsignal=KILL
%(environment)s
