[program:%(program)s]
command=%(user_home)s/.virtualenvs/%(virtualenv)s/bin/python %(root)s/manage.py celery worker -E --queues high
directory=%(root)s
user=%(user)s
autostart=true
autorestart=true
redirect_stderr=true
priority=991
stopsignal=KILL
%(environment)s
