[program:%(program)s]
command=%(command_pre_args)s %(user_home)s/.virtualenvs/%(virtualenv)s/bin/python %(root)s/manage.py celery worker -B -E --queues celery,low %(command_post_args)s
directory=%(root)s
user=%(user)s
autostart=true
autorestart=true
redirect_stderr=true
priority=991
stopsignal=KILL
%(environment)s
