[program:{program}]
command={user_home}/.virtualenvs/{virtualenv}/bin/gunicorn_django -c {root}/config/gunicorn_conf_{environment}.py
directory={root}
user={user}
autostart=true
autorestart=true
priority=991
stopsignal=KILL
